version: '3.8'

services:
  # 1. Baza de Date
  mysql-db:
    image: mysql:8.0
    container_name: fleet-mysql
    environment:
      MYSQL_DATABASE: fleet_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    networks:
      - fleet-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # 2. Discovery Service (Eureka)
  discovery-service:
    build: ./discovery-service       # <--- CALE SIMPLIFICATĂ
    container_name: fleet-discovery
    ports:
      - "8761:8761"
    networks:
      - fleet-network
    environment:
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false

  # 3. Fleet Manager Service (Backend Logic)
  fleet-service:
    build: ./fleet-manager   # <--- CALE SIMPLIFICATĂ
    container_name: fleet-service
    ports:
      - "9090:9090"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/fleet_db?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka/
    depends_on:
      mysql-db:
        condition: service_healthy
      discovery-service:
        condition: service_started
    networks:
      - fleet-network

  # 4. API Gateway
  api-gateway:
    build: ./api-gateway             # <--- CALE SIMPLIFICATĂ
    container_name: fleet-gateway
    ports:
      - "8080:8080"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka/
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED: "true"
    depends_on:
      - discovery-service
      - fleet-service
    networks:
      - fleet-network

networks:
  fleet-network:
    driver: bridge